.collapse {
    position: absolute;
    top: 0;
    left: 0;
    /* display: none !important; */
    overflow: hidden;
    /* max-height: 0; */
}

.collapse.open {
    display: flex !important;
    /* animation: slideDown 0.3s ease-in forwards; */
}

@keyframes slideDown {
    from {
        max-height: 0;
    }
    to {
        max-height: 2000px;
    }
}

@keyframes slideUp {
    from {
        max-height: 2000px;
    }
    to {
        max-height: 0;
        display: none;
    }
}
