.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-self-center {
    justify-self: center !important;
}

.align-items-center {
    align-items: center;
}

@media screen and (min-width: 413px) {
    .sm-flex-row {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    .lg-flex {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {

}
