.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.left-20 {
    left: 20px !important;
}

@media screen and (min-width: 768px) {
    .lg-absolute {
        position: absolute !important;
    }
    .lg-top--150 {
        top: -150px !important;
    }
}

@media screen and (min-width: 1024px) {
    .xl-top--300 {
        top: -300px !important;
    }
}


