.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content !important;
}

.w-auto {
    width: auto;
}

.h-auto {
    height: auto;
}

.w-20 {
    width: 20px !important;
}

.w-30 {
    width: 30px !important;
}

.w-50 {
    width: 50px;
}

.h-20 {
    height: 20px !important;
}

.h-30 {
    height: 30px !important;
}

.max-w-500 {
    max-width: 500px;
}

.max-w-1200 {
    max-width: 1200px;
}

.max-h-400 {
    max-height: 400px !important;
}

.aspect-3-2 {
    aspect-ratio: 3 / 2 !important;
}

@media screen and (min-width: 768px) {
    .lg-h-fit {
        height: fit-content !important;
    }
    .lg-w-fit {
        width: fit-content !important;
    }
}
