h1 {
    position: absolute;
    color: #fff;
    top: 1em;
    left: 1em;
}

h2 {
    font-size: 1.7rem;
    text-align: center;
}

.main {
    position: relative;
}

.hero img, .join-us img {
    width: 100%;
    height: auto;
    display: flex;
}

.join-us {
    display: flex;
    flex-direction: column;
}

.join-us-text {
    background-color: #fff;
    padding: 4em 2em;
    text-align: center;
    justify-items: center;
}

.join-us-text p {
    padding: 20px 20px 40px;
    font-size: 1.2rem;
}

.join-us .btn {
    font-size: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.events {
    padding: 2em;
}

.events h2 {
    background-color: var(--accent2-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#events-list {
    /* display: grid; */
    display: flex;
    justify-content: center;
    padding: 20px 0;
    list-style: none;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    gap: 20px;
}

.events img {
    width: 100%;
    height: auto;
}

.weather {
    background-color: var(--accent1-color);
    padding: 2em;
}

.weather h2 {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.weather img {
    display: none;
    justify-self: right;
}

.weather > div > div:first-of-type {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.weather > div > div > div {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.weather > div > div > div > div {
    display: flex;
    gap: 5px;
    justify-content: center;
}

#weather-temp {
    font-weight: bold;
    font-size: 2.5rem;
}

.weather > div > div > div > div > span {
    font-size: 1rem;
}

#forecasted-weather {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 15px;
    justify-items: center;
    color: #fff;
}

#forecasted-weather > div {
    align-items: center;
    background-color: rgba(235, 235, 235, 0.31);
    width: 100%;
    padding: 15px;
    border-radius: 10px;
}

.forecasted-temp {
    font-weight: bold;
    font-size: 1.2rem;
    color: #162a79;
}

.weather > div > div > div > span.fr_degree {
    color: #162a79;
    font-size: 1rem;
}

.forecasted-day {
    color: #162a79;
    font-size: 0.9rem;
}

.spotlights {
    padding: 2em;
}

.spotlights h2 {
    background-color: var(--accent2-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#members-placeholder {
    height: 100vh;
    background-color: var(--accent2-color);
}

#member-list {
    display: grid;
    padding: 20px 0;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.member-item {
    box-shadow: 0 0 10px #0000002b;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.member-name {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.member-info {
    display: grid;
    grid-template-rows: 1fr;
    font-size: 0.9rem;
    height: calc(100% - 40px);
}

.member-info div:last-of-type {
    align-content: end;
}

.member-info .image-container {
    width: 100%;
    height: auto;
    min-height: 240px;
    margin-bottom: 10px;
    align-content: center;
    background-color: white;
}

.member-info > .image-container > picture > img {
    width: 100%;
    height: auto;
    align-self: center;
    padding: 20px;
}

.member-info > div > div {
    display: flex;
    padding: 3px 0;
    align-items: center;
    word-break: break-all;
}

.member-info > div > div > img {
    margin-right: 10px;
}

@media screen and (min-width: 412px) {

    .weather img {
        display: flex;
    }

    .forecasted-temp {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 640px) {

    .join-us .btn {
        width: auto;
        max-width: 800px;
        min-width: 250px;
    }
}

@media screen and (min-width: 1000px) {

    .events > h2, .events > div, .weather > h2, .weather > div, .spotlights > h2, .spotlights > div{
        max-width: 1200px;
        justify-self: center;
        width: 100%;
    }

    .weather > div {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #forecasted-weather {
        width: 100%;
        padding-left: 15px;
    }

    #forecasted-weather > div {
        height: calc(100% - 20px);
        align-self: auto;
        display: flex;
        justify-content: center;
    }

    .forecasted-temp {
        font-size: 2.5rem;
    }

    .forecasted-day {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1076px) {

    #member-list {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}
