.hero h2 {
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.2rem, 3vw, 1.7rem);
    background-color: var(--primary-color);
}

.hero > div > div > div {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--gray);
    padding: 5px 10px;
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.hero {
    overflow: hidden;
}

.hero picture {
    aspect-ratio: 206 / 135;
    overflow: hidden;
    position: relative;
}

.hero img {
    display: flex;
    justify-self: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero > div {
    position: relative;
}

.hero > div > div {
    position: relative;
    padding: 40px 20px;
    background-color: var(--primary-color);
}

@media screen and (min-width: 768px) {
    .hero h2 {
        color: var(--primary-color);
        text-align: left;
        width: fit-content;
        font-size: clamp(1.5rem, 3vw, 2rem);
        background-color: var(--white);
        padding: 10px 20px;
        margin-bottom: 10px;
    }
    .hero > div > div > div {
        width: fit-content;
    }
    .hero > div > div {
        top: -250px;
        position: absolute;
        background-color: transparent;
        left: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .hero > div > div {
        top: -300px;
    }
}
