@media screen and (min-width: 768px) {
    .lg-bg-secondary {
        background-color: var(--secondary-color);
    }
    .lg-bg-white {
        background-color: var(--white);
    }
    .lg-bg-transparent {
        background-color: transparent;
    }
    .lg-text-primary {
        color: var(--primary-color);
    }
    .lg-text-lg {
        font-size: clamp(1.5rem, 3vw, 2rem);
    }
    .lg-text-3xl {
        font-size: clamp(3rem, 3vw, 5rem);
    }
    .lg-text-left {
        text-align: left;
    }
    .lg-pb-10 {
        padding-bottom: 10px;
    }
    .lg-p-20 {
        padding: 20px;
    }
    .lg-p-40 {
        padding: 40px;
    }
    .lg-py-10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .lg-px-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .lg-flex {
        display: flex;
    }
    .lg-h-fit {
        height: fit-content;
    }
    .lg-w-fit {
        width: fit-content;
    }
    .lg-my-0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .lg-mb-0 {
        margin-bottom: 0px;
    }
    .lg-mb-10 {
        margin-bottom: 10px;
    }
    .lg-my-20 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .lg-mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .md-grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .lg-absolute {
        position: absolute;
    }
    .lg-top--250 {
        top: -250px;
    }
    header > div:first-child {
        flex-direction: row;
        padding: 20px;
    }
    #menu-button {
        display: none;
    }
    #menu {
        display: flex !important;
        flex-direction: row;
        position: relative;
        top: 0 !important;
        padding-bottom: 0;
        background-color: transparent;
    }
    #menu a {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 10px 15px;
    }
    #menu a.active {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        filter: brightness(1);
    }
    #menu a:not(.active):hover {
        filter: brightness(1.2);
        color: var(--secondary-color);
    }
    nav {
        margin: 0 auto;
    }
    h1 {
        background-color: transparent;
        font-size: clamp(3rem, 3vw, 5rem);
        text-align: left;
    }
    .hero-text1 {
        color: var(--primary-color);
        text-align: left;
        width: fit-content;
        font-size: clamp(1.5rem, 3vw, 2rem);
        background-color: var(--white);
        padding: 10px 20px;
        margin-bottom: 10px;
    }
    .hero-text2 {
        width: fit-content;
    }
    .hero img {
        width: 110%;
    }
    .donations > div {
        padding: 60px 40px;
    }
    .events {
        padding: 60px;
    }
    #featured-news {
        grid-template-columns: repeat(3, 1fr);
    }
    #gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
    footer > div > div {
        grid-template-columns: repeat(3, 1fr);
        padding: 40px;
    }
}

@media screen and (min-width: 970px) {
    .lg-grid-cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .lg-grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .xl-top--300 {
        top: -300px;
    }
    #gallery-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


