/* UTILITIES */

/* Colors */
:root {
    --primary-color: #14213D;
    --secondary-color: #FCA311;
    --gray: #E5E5E5;
    --default: gray;
    --white: #fff;
    --dark-gray: #262F36;
}

/* Fonts */
.uppercase {
    text-transform: uppercase;
}

/* Margins */
.mb-10 {
    margin-bottom: 10px;
}


/* COMPONENTS */

/* Button */
.btn {
    text-decoration: none;
    background-color: var(--default);
    padding: 15px 40px;
    font-size: 0.8rem;
    color: var(--white);
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    filter: brightness(0.9);
}

.btn:active {
    filter: brightness(1);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-primary:hover {
    filter: brightness(1.2);
}

.btn-primary:active {
    filter: brightness(1);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Icon */
.icon {
    display: inline-block;
    vertical-align: -0.15em;
    position: relative;
}

.icon-menu::after {
    content: "";
    background-image: url("../images/menu.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 30px;
}

.icon-dollar::after {
    content: "";
    background-image: url("../images/dollar.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    margin: 5px 20px 5px 5px;
    font-size: clamp(2rem, 3vw, 3rem);
}

.icon-people::after {
    content: "";
    background-image: url("../images/people.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    font-size: clamp(2rem, 3vw, 3rem);
}

.icon-globe::after {
    content: "";
    background-image: url("../images/globe.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    font-size: clamp(2rem, 3vw, 3rem);
}

/* Input */
.form-control {
    font-size: 1rem;
    padding: 20px 10px;
    border: none;
    border-radius: 5px;
    max-height: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.search {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.search > input {
    padding: 20px 40px 20px 20px;
    border-radius: 20px;
    margin-bottom: 0;
}

.search::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 50px;
    height: 100%;
    background-image: url("../images/search.svg");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    opacity: 0.6;
}

.search:hover::after {
    filter: opacity(0.8);
}

.search:active::after {
    filter: opacity(1);
}

/* Collapse */
.collapse {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.collapse.open {
    display: flex !important;
}

@keyframes slideDown {
    from {
        max-height: 0;
    }
    to {
        max-height: 2000px;
    }
}

@keyframes slideUp {
    from {
        max-height: 2000px;
    }
    to {
        max-height: 0;
        display: none;
    }
}

/* Card */
.card {
    border: 1px solid var(--secondary-color);
}

.card-image-wrapper {
    aspect-ratio: 3 / 2;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.card-image:hover {
    filter: brightness(0.8);
}

.card-body {
    padding: 20px;
}

.card p {
    margin-bottom: 20px;
}

/* PARTIALS */

/* MAIN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Nunito", Arial, sans-serif;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

picture img {
    width: 100%;
    height: auto;
}

header {
    background-color: var(--white);
}

header > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 20px 10px;
    max-width: 1200px;
    margin: 0 auto;
}

header > div:last-child {
    background-color: var(--primary-color);
    border-bottom: 5px solid var(--secondary-color);
}

header > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div > div:first-child {
    margin-top: 10px;
}

header > div > div:last-child {
    margin-bottom: 10px;
}

header > div > div > span {
    font-weight: bold;
    white-space: nowrap;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

footer > div > div > div > div:first-child {
    display: flex;
    margin-bottom: 20px;
}

footer > div > div > div > div:first-child > span {
    font-weight: bold;
    color: var(--white);
    font-size: clamp(1.5rem, 3vw, 2rem);
}

header img, footer > div > div > div > div:first-child img {
    width: 50px;
    margin-right: 10px;
}

main {
    flex: 1;
}

#menu {
    background-color: var(--secondary-color);
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
    z-index: 1000;
}

#menu li {
    display: flex;
    margin: 0 5px;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: 800;
    transition: all 0.2s ease-in-out;
}

#menu a:hover {
    filter: brightness(0.9);
}

#menu a.active {
    filter: brightness(1.2);
}

#menu-button {
    padding: 5px;
    margin-right: 20px;
}

nav {
    color: var(--secondary-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}

h1 {
    text-transform: uppercase;
    text-shadow: 0 0 10px black;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: clamp(1.5rem, 3vw, 2rem);
    text-align: center;
}

.hero h2 {
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.2rem, 3vw, 1.7rem);
    background-color: var(--primary-color);
}

.hero > div > div > div {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--gray);
    padding: 5px 10px;
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.hero {
    overflow: hidden;
}

.hero picture {
    aspect-ratio: 206 / 135;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.hero img {
    display: flex;
    justify-self: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero > div {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.hero > div > div {
    position: relative;
    padding: 40px 20px;
    background-color: var(--primary-color);
}

.donations {
    background-color: var(--secondary-color);
    display: grid;
}

.donations > div {
    padding: 30px 20px;
    transition: all 0.3s ease-in-out;
}

.donations > div:nth-child(even) {
    background-color: rgba(255,255,255,0.3);
}

.donations > div:hover {
    background-color: rgba(0,0,0,0.3);
}

.donations p {
    margin-bottom: 10px;
}

.donations > div > div {
    display: flex;
    width: fit-content;
    justify-self: center;
}

.donations > div > div > div > div {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: clamp(1.2rem, 3vw, 1.7rem);
}

#events {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

#events > div {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
}

#events > div > div {
    max-width: 500px;
}

#events > div > div > div:first-child {
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
}

#events > div > div > div > div {
    text-transform: uppercase;
    margin-bottom: 10px;
}

#events picture {
    display: flex;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    width: 100%;
    position: relative;
}

#events img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

#events img:hover {
    transform: scale(1.1);
}

#events p {
    margin-bottom: 10px;
}

#events h2, #featured h2, #gallery h2, footer > div > div > div:last-child > div {
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 5px solid var(--secondary-color);
    padding-bottom: 20px;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

#featured {
    background-color: var(--white);
    width: 100%;
    padding: 40px;
}

#featured > div {
    max-width: 1200px;
    margin: 0 auto;
}

#gallery {
    padding: 40px;
    width: 100%;
    background-color: var(--secondary-color);
}

#gallery h2 {
    border-bottom: 5px solid var(--primary-color);
}

#gallery-image-wrapper {
    aspect-ratio: 3 / 2;
    overflow: hidden;
    width: 100%;
    position: relative;
}

#gallery-image-wrapper > img{
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}

#gallery-image-wrapper > img:hover {
    filter: brightness(0.7);
    transform: scale(1.05);
}

#gallery-container {
    display: grid;
    gap: 10px;
}

#featured-news {
    display: grid;
    gap: 20px;
}

#featured-article {
    display: grid;
    grid-template-areas:
        "image"
        "cardBody";
    grid-template-rows: auto 1fr;
}

#featured-article .card-image {
    grid-area: image;
}

#featured-article .card-body {
    display: grid;
    grid-template-areas:
        "articleTitle"
        "articleAuthor"
        "articleContent"
        "articleButton";
    grid-area: cardBody;
    grid-template-rows: auto auto 1fr auto;
    height: 100%;
}

.article-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    grid-area: articleTitle;
}

.article-author {
    font-style: italic;
    margin-bottom: 10px;
    color: var(--dark-gray);
    grid-area: articleAuthor;
}

.article-content {
    grid-area: articleContent;
}

.article-button {
    border-radius: 50px;
    max-width: 200px;
    margin: 0 auto;
    grid-area: articleButton;
}

.subscribe-button {
    font-size: clamp(0.9rem, 3vw, 1.1rem);
}

footer {
    background-color: var(--primary-color);
    color: var(--gray);
}

footer > div:first-child {
    padding: 40px;
}

footer > div:last-child {
    width: 100%;
    border-top: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

footer > div > div {
    display: grid;
    gap: 30px;
}

.donate-now-button {
    border-radius: 50px;
}

footer > div > div > div > div:nth-child(2) a {
    text-decoration: none;
    color: var(--white);
    margin-right: 10px;
}

footer > div > div > div:nth-child(2) > div {
    color: var(--white);
    margin-bottom: 20px;
    font-size: clamp(1.2rem, 3vw, 1.7rem);
}

footer > div > div > div:nth-child(2) ul {
    color: var(--white);
    list-style: none;
}

footer > div > div > div:nth-child(2) li {
    margin-bottom: 10px;
}

footer > div > div > div:nth-child(2) a {
    text-decoration: none;
    color: var(--white);
}
